/* Estilos generales del body */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;

}

/* Encabezado */
h2 {
    color: #333;
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

/* Formulario */
form {
    background-color: #ffffff;
    padding: 30px 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

/* Campo de entrada */
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Botón */
button[type="submit"] {
    background-color: #cc6600;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #004c99;
}